<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Experience">
        <app-experience></app-experience>
    </mat-tab>
    <mat-tab label="Education" routerLink="/education">
        <app-education></app-education>
    </mat-tab>
    <mat-tab label="Skills">
        <app-skills></app-skills>
    </mat-tab>
</mat-tab-group> -->

<div>
    <mat-sidenav-container>
        <mat-sidenav [opened]="true" >
            <mat-nav-list>
                <ul>
                <li><a href="#edu">Education</a></li>
                <li><a href="#skill">Skills</a></li>
                </ul>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content id="edu">
            <app-education id="edu"></app-education>
            <app-skills id="skill"></app-skills>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div class="wrapper">
    <!-- Sidebar Holder -->
    
    <mat-toolbar color="primary" class="mat-toolbar">
        <button class="btn btn-menu-icon" mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <!-- <div class="sidebar-header"> -->
            <h2>UTKARSH ANAND</h2>
        <!-- </div> -->
    </mat-toolbar>
    <nav id="sidebar" [hidden]="sidebarHidden">
      <ul>
        <li class="active">
          <a routerLink=".">Introduction</a>
        </li>
        <li>
          <a routerLink="experience">Experience</a>
        </li>
        <li>
          <a routerLink="skills">Skills</a>
        </li>
        <li>
          <a routerLink="education">Education & Cretifications</a>
        </li>
        <li>
          <a href="#">Contact Info</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <!-- <div id="content">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Page</a></li>
            </ul>
          </div>
        </div>
      </nav>


    </div> -->

</div>

  
